@tailwind base;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap");
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
ul li {
    @apply px-3 ;
  }


@media(max-width:300px){
  .menu{
    transform: translatex(200%) !important;
  }
}

.img-bg {
    background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.6)),
      url("/pic1.jpg");
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    background-position: center;
    width: 100%;
    height: 100vh;

  }

.about-border{
  border-bottom: 2px solid #AA9055;
  width: 10% !important;
  margin: 0 auto
}


@keyframes bgChangeUp {
  0% {background-color: inherit;}
  100% {background-color: #AA9055;}
}



.Handle-Site-Title {
  top: 0;
  animation-name: bgChangeUp;
  animation-duration: 2s;
  animation-iteration-count: 1;
  transition: ease-in 1.5s;
  animation-fill-mode: forwards;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Default styles for .swiper */
.swiper {
  width: 500px;
  height: 300px;
  /* Add other styles as needed */
}
.img2-bg {
  background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.6)),
    url("/pic8.webp");
  object-fit: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  overflow: hidden;
  background-position: center;
  width: 100%;
  height: max-content;
}

/* Media query for devices with a maximum width of 768 pixels (adjust as needed) */
@media(max-width: 768px) and (min-width:500px) {
  .swiper {
    width: 420px; /* Make the width 100% of the container */
    height: 250px; /* Allow the height to adjust based on content */
    /* Add other styles as needed for smaller screens */
  }
}


@media(max-width: 499px) and (min-width:280px) {
  .swiper {
    width: 330px; /* Make the width 100% of the container */
    height: 200px; /* Allow the height to adjust based on content */
    /* Add other styles as needed for smaller screens */
  }
}


@media(max-width: 600px) and (min-width:280px) {
  .clock{
    display: none;
  }
}
.dontations{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.slide-in-right {
  animation: slideInRight 1s ease forwards;
}

@keyframes slideInRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
